.contact-page header {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url('../../utils/images/hinhtuyensinh.png');
    background-size: cover;
    background-position: center;
    height: 75vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.contact-form .form-label {
    font-size: 40px;
    font-weight: bold;
  }

.contact-page {
    background:#e86270;
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .contact-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 80px;
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  .contact-form .form-control {
    border-radius: 30px;
    font-size: 30px;
  }
  
  .contact-form .btn {
    border-radius: 30px;
    font-size: 30px;
    font-weight: bold;
  }
  .alert {
    max-width: 100px;
    font-size: 1rem;
  }
#contact-form .form-control:focus,
#contact-form .form-select:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, .25);
}

@media only screen and (max-width: 992px) {
    #contact-form {
        width: 65%;
    }
}

@media only screen and (max-width: 576px) {
    #contact-form {
        width: 100%;
    }
}
